{% extends 'bookreview_app/base_template.html' %}

{% block content %}

{% comment %} <div class="container-fluid"> {% endcomment %}
<h1>Book Title: {{ book.title }}</h1>
<p><strong>Author:</strong> {{ book.author }}</p>
<p><strong>Genre:</strong> {{ book.genre }}</p>
<p><strong>Description:</strong> {{ book.description }}</p>

<!--add buttons for updating, deleting the detail and viewing reviews of the project-->
<div>
<a class="btn btn-primary" href="{% url 'update_book' book.id %}"role="button">Edit</a>
&nbsp&nbsp <a class="btn btn-danger" href="{% url 'delete_book' book.id %}"role="button">Delete</a>
&nbsp&nbsp <a class="btn btn-primary" href=""role="button">Reviews</a>
</div>
{% comment %} </div> {% endcomment %}
{% endblock %}






{% comment %} {% extends 'portfolio_app/base_template.html' %}

{% block content %}
<h1>Portfolio Title: {{ portfolio.title }}</h1>

<p><strong>Portfolio Active:</strong> {{ portfolio.isactive }}</p>
<p><strong>About:</strong> {{ portfolio.about }}</p>
<p><strong>Contact Email:</strong> {{ portfolio.contact_email }}</p>
<!--Add projects to the portfolio detail-->
<h3>Project List:</h1>
{% if projects %}
<ul>
{% for project in projects %}
<li>
<!--add buttons for viewing, updating, and deleting the detail of the project-->
{{ project.title }} &nbsp&nbsp <a class="btn btn-primary" href="{{ project.get_absolute_url }}"role="button">View</a>
&nbsp&nbsp <a class="btn btn-primary" href="{% url 'update_project' portfolio.id project.id %}"role="button">update</a>
&nbsp&nbsp <a class="btn btn-danger" href="{% url 'delete_project' portfolio.id project.id %}"role="button">delete</a>
</li>
{% endfor %}
</ul>
{% else %}
<p>There are no projects created for this portfolio.</p>
{% endif %}

<!--add a button named 'new' to create a new project-->
<a class="btn btn-primary" href="{% url 'create_project' portfolio.id %}" role="button">New</a>
 
{% endblock %} {% endcomment %}
