{% extends 'bookreview_app/base_template.html' %}

{% block content %}
{% comment %} <div class="container-fluid"> {% endcomment %}
<h1 class="text-success">Book List</h1>
<!--add a button to create a new book-->
<a class="btn btn-primary" href="{% url 'create_book' %}" role="button">Add a Book</a>

{% if book_list %}
<ul>
{% for book in book_list %}
<li>
<a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
</li>
{% endfor %}
</ul>
{% else %}
<p>There are no books added yet.</p>
{% endif %}

{% comment %} <div> {% endcomment %}
{% endblock %}
